.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product{
    margin: 10px 15px;
    background-color: #fff;
    box-shadow: 4px 6px 10px 0px rgba(132,138,148,1);
    padding: 15px;
    width: 450px;
}

.title{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.desc{
    font-size: 1rem;
    margin-bottom: 5px;
    color: rgb(85, 85, 85);
}

.price{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
    font-weight: 700;
    color: #fff;
}
.edit{
    background-color: #fff;
    color:  rgb(12, 201, 185);
    border: 2px solid rgb(12, 201, 185);
    font-weight: 600;
}
.add{
    background-color: #fff;
    color:  rgb(0, 101, 252);
    border: 2px solid rgb(0, 101, 252);
    font-weight: 600;
}
.add:disabled{
    opacity: 0.8;
    color:  rgb(125, 125, 126);
    border: 2px solid rgb(125, 125, 126);
    font-weight: 600;
    cursor: not-allowed;
}
.del{
    width: 100px;
    text-decoration: none;
    background-color: #fff;
    color:  rgb(240, 2, 81);
    border: 2px solid rgb(240, 2, 81);
    font-weight: 600;
}